.form-add-product {
  max-width: 30rem;
}

.form-add-product__list {
  margin: -1rem;
}

.form-add-product__li {
  padding: 1rem;
}

.form-add-product__img-box {
  max-width: 20rem;
}

.form-add-product__img {
  max-width: 100%;
  height: auto;
}