*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none!important;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}

label {
  cursor: pointer;
  user-select: none;
}

textarea {
  resize: vertical;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

input[placeholder] {
  text-overflow: ellipsis;
  white-space: nowrap;
}

button,
input,
optgroup,
select,
textarea {
  box-shadow: none;
}

input {
  border: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.hidden-field {
  position: relative;
}

.hidden-field__field {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
}