.files-loader__list {
  margin: -1rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.files-loader__li {
  padding: 1rem;
  list-style: none;
}

.files-loader__img-box {
  max-width: 12rem;
}

.files-loader__img {
  max-width: 100%;
  height: auto;
}